@{
    ViewBag.Title = "ConfirmEmail";
}
<div class="container">
    <h2>Confirm Email</h2>
    <div class="row">
        <div class="col-md-8">
            <i class="fa fa-check-circle" style="color:green; font-size:30px;"></i> <p>Thank you for signing up!! Now You can Log In from <a href="@Url.Action("Login","Account")">here</a></p>

        </div>
    </div>
</div>
